* { /*Configurações globais das CSS*/
    
    /*RESET CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-45deg, #fff3f2, #f8f6ff);
    background-attachment: fixed;

    margin-left: 4%;
    margin-top: 4%;
}

#title {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 4%;
    letter-spacing: -2px;
    display: block;
    line-height: 1.2;
}

.subtitles {
    border: 3.6px solid #476ECC;
    border-radius: 6px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.4em;
    color: #476ECC;
    padding: 10px;
    margin-bottom: 4%;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*Padrão para todos os títulos*/
    font-family: monospace;
    font-weight: 600;
    margin-bottom: 4%;
}

span {
    font-family: monospace;
    font-size: 1.2em;
    line-height: 2;
    display: block;
    margin-bottom: 2%;
    display: block;
}

/*Input campo de texto**/

#campo {
    border-radius: 100px;
    border: 2px solid;
    border-color: #cacaca;
    height: 30px;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 4%;
    width: 200px;
    height: 40px;
}

/*Inputs check lists*/

#containers-check-box {
    margin-bottom: 2%;
}

.container-check-box {
    display: block;
}

.check-box {
    margin-right: 8px;  
}

.text-check-box {
    display: inline-block;
}

#containers-radio {
    margin-bottom: 2%;
}

.container-check-radio {
    display: block;
}

.check-radio {
    margin-right: 8px;  
}

.text-check-radio {
    display: inline-block;
}

#containers-genders {
    margin-bottom: 2%;
}

.container-gender {
    display: block;
}

.gender-people {
    margin-right: 8px;  
}

.text-gender {
    display: inline-block;
}

/*Input selecionar cores*/

#container-color {
    display: block;
    margin-bottom: 2%;
}

.color {
    border: none;
    padding: 2px;
    background-color: transparent;
}

.text-color {
    display: inline-block;
}

/*Input data, e-mail e demais campos*/

#campo {
    display: block;
}

/*Input e-mail*/

#bt-email {
    border: none;
    border-radius: 100px;
    padding: 8px 20px 8px 20px;
    background-color: #ff8598;
    color: white;
    font-family: monospace;
    display: block;
    margin-bottom: 4%;
}

#bt:hover {
    border: none;
    border-radius: 100px;
    padding: 8px 20px 8px 20px;
    background-color: #ffa7b4;
    color: white;
    font-family: monospace;
    transition: 0.4s;
}

/*Input file*/

#file {
    font-family: monospace;
    font-size: 0.8em;
    display: block;
    margin-bottom: 4%;
}